@import "src/theme/fonts";
@import "src/theme/variables";

.seller-auth {
  padding: 70px 0 0 0;
}
.login-auth {
  padding: 30px 0 0 0;
}

.sign-up {
  h1 {
    text-align: center;
    padding: 20px 0;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .form-input {
      width: 40%;
      padding: 10px 0 10px 10px;
      border: 1px solid $color-primary;
      border-radius: 5px;
      color: $color-primary;
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      font-family: $font-en-poppins;
    }
    .form-button {
      padding: 7px 0;
      width: 40%;
      color: $color-primary;
      border: 1px solid $color-primary;
      border-radius: 5px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      font-family: $font-en-poppins;
      cursor: pointer;
    }

    .auth-toggle-link {
      margin-top: 10px;
      color: $color-primary;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
    }
  }
}
.login {
  h1 {
    text-align: center;
    padding: 20px 0;
  }
  .warning{
    padding-bottom: 10px;
    color: red;
    font-size: 14px;
    font-family: $font-en-poppins;
    text-align: center;
    font-weight: 600;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .form-input {
      width: 40%;
      padding: 10px 0 10px 10px;
      border: 1px solid $color-primary;
      border-radius: 5px;
      color: $color-primary;
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      font-family: $font-en-poppins;
    }
    .form-button {
      padding: 7px 0;
      width: 40%;
      color: $color-primary;
      border: 1px solid $color-primary;
      border-radius: 5px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      font-family: $font-en-poppins;
      cursor: pointer;
    }

    .auth-toggle-link {
      margin-top: 10px;
      color: $color-primary;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
    }
  }
}
