<section class="seller-auth">
  <div class="sign-up">
    <h1>Seller sign-up</h1>
    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="form">
      <input class="form-input" name="name"  type="text" placeholder="Enter Your Name" ngModel/>
      <input class="form-input" name="email" type="email" placeholder="Enter Your Email" ngModel/>
      <input class="form-input" name="password" type="password" placeholder="Enter Your Password" ngModel/>
      <Button class="form-button">SignUp</Button>
    </form>
  </div>
</section>
